<div [class]="'fixed  top-6 right-0 left-0 mx-auto  z-[1000]  cardAlert bg-gray-200 border rounded-lg w-4/12 py-4 pb-6 px-4'"
  [ngClass]="bgClass"
>
  <div
    class="flex items-center  gap-2 justify-between"
  >
    <div class="flex gap-2 items-center">
      <app-svg-icon [icon]="type" [size]="42"></app-svg-icon>
        <h2 class="text-xl font-semibold">{{type}}</h2>
    </div>
    <button title="close" (click)="close()">
      <i-lucide
        name="x"
        class="x"
        [size]="32"
        [color]="color"
        [strokeWidth]="2"
      ></i-lucide>
    </button>
  </div>
  <p class="mx-auto px-12">
  {{message}}
  </p>
</div>