<main class="flex justify-center items-center mt-80">
  <div class="flex flex-col justify-center items-center gap-4">
    <h2 class="font-bold text-4xl text-center">Sign up</h2>
    <p class="text-center text-gray-400">Hello, please complete to create your account</p>
    <form class="flex flex-col w-96 gap-4">
      <div class="flex gap-4">
        <app-normal-input title="firstName" placeholder="First name" type="text"/>
        <app-normal-input title="lastName" placeholder="Last Name" type="text"/>
      </div>
      <app-normal-input title="email" placeholder="Email" type="email"/>
      <app-normal-input title="password" placeholder="Password" type="password"/>
      <app-primary-button title="Sign Up" onclick=""/>
    </form>
  </div>
</main>
